<!-- Botón para abrir el sidebar en pantallas pequeñas -->
<button id="open-sidebar" class="xl:hidden fixed top-4 left-4 z-50 p-2 rounded-lg bg-gray-800 text-white hover:bg-gray-700 transition-transform duration-300 hover:scale-110" type="button" aria-label="Abrir menú lateral">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="h-6 w-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
  </svg>
</button>

<!-- Sidebar -->
<aside id="sidebar" class="bg-gradient-to-br from-gray-800 to-gray-900 fixed inset-y-0 left-0 z-50 my-4 ml-4 h-[calc(100vh-32px)] w-64 sm:w-72 rounded-xl transition-transform duration-300 transform -translate-x-full xl:translate-x-0">
  <div class="relative border-b border-white/20">
    <a class="flex items-center gap-4 py-6 px-8" href="#/">
      <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white sm:text-lg">ORI</h6>
    </a>
    <button id="close-sidebar" class="xl:hidden absolute top-0 right-0 p-2 m-2 rounded-lg bg-gray-800 text-white hover:bg-gray-700 transition-transform duration-300 hover:scale-110" type="button" aria-label="Cerrar menú lateral">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="h-5 w-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
  <div class="m-4">
    <ul class="mb-4 flex flex-col gap-1">
      <!-- DASHBOARD -->
      <li>
        <a routerLink="/auth/dashboard">
          <button routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 !text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-85" [routerLinkActiveOptions]="{ exact: true }" class="w-full flex items-center gap-4 px-4 py-3 text-xs sm:text-sm font-bold text-white rounded-lg hover:bg-white/10 active:bg-white/30 transition-all capitalize" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -32 576 576" class="w-5 h-5 sm:w-6 sm:h-6 text-inherit" fill="currentColor" aria-hidden="true">
              <path d="M288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm0 64c14.71 0 26.58 10.13 30.32 23.65-1.11 2.26-2.64 4.23-3.45 6.67l-9.22 27.67c-5.13 3.49-10.97 6.01-17.64 6.01-17.67 0-32-14.33-32-32S270.33 96 288 96zM96 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm48-160c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm246.77-72.41l-61.33 184C343.13 347.33 352 364.54 352 384c0 11.72-3.38 22.55-8.88 32H232.88c-5.5-9.45-8.88-20.28-8.88-32 0-33.94 26.5-61.43 59.9-63.59l61.34-184.01c4.17-12.56 17.73-19.45 30.36-15.17 12.57 4.19 19.35 17.79 15.17 30.36zm14.66 57.2l15.52-46.55c3.47-1.29 7.13-2.23 11.05-2.23 17.67 0 32 14.33 32 32s-14.33 32-32 32c-11.38-.01-20.89-6.28-26.57-15.22zM480 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z"/>
            </svg>
            <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">dashboard</p>
          </button>
        </a>
      </li>
      <!-- CRUDS CONVENIOS E INSTITUCIONES -->
      <li  *appHasRole="['director']">
        <a routerLink="/auth/convenios">
          <button routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 !text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-85" [routerLinkActiveOptions]="{ exact: true }" class="w-full flex items-center gap-4 px-4 py-3 text-xs sm:text-sm font-bold text-white rounded-lg hover:bg-white/10 active:bg-white/30 transition-all capitalize" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-8 0 512 512" class="w-5 h-5 sm:w-6 sm:h-6 text-inherit" fill="currentColor" aria-hidden="true">
              <path d="M336.5 160C322 70.7 287.8 8 248 8s-74 62.7-88.5 152h177zM152 256c0 22.2 1.2 43.5 3.3 64h185.3c2.1-20.5 3.3-41.8 3.3-64s-1.2-43.5-3.3-64H155.3c-2.1 20.5-3.3 41.8-3.3 64zm324.7-96c-28.6-67.9-86.5-120.4-158-141.6 24.4 33.8 41.2 84.7 50 141.6h108zM177.2 18.4C105.8 39.6 47.8 92.1 19.3 160h108c8.7-56.9 25.5-107.8 49.9-141.6zM487.4 192H372.7c2.1 21 3.3 42.5 3.3 64s-1.2 43-3.3 64h114.6c5.5-20.5 8.6-41.8 8.6-64s-3.1-43.5-8.5-64zM120 256c0-21.5 1.2-43 3.3-64H8.6C3.2 212.5 0 233.8 0 256s3.2 43.5 8.6 64h114.6c-2-21-3.2-42.5-3.2-64zm39.5 96c14.5 89.3 48.7 152 88.5 152s74-62.7 88.5-152h-177zm159.3 141.6c71.4-21.2 129.4-73.7 158-141.6h-108c-8.8 56.9-25.6 107.8-50 141.6zM19.3 352c28.6 67.9 86.5 120.4 158 141.6-24.4-33.8-41.2-84.7-50-141.6h-108z"/>
            </svg>
            <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">convenios</p>
          </button>
        </a>
      </li>
      <!-- SNIES -->
      <li *appHasRole="['director']">
        <a routerLink="/auth/snies">
          <button routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 !text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-85" [routerLinkActiveOptions]="{ exact: true }" class="w-full flex items-center gap-4 px-4 py-3 text-xs sm:text-sm font-bold text-white rounded-lg hover:bg-white/10 active:bg-white/30 transition-all capitalize" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 sm:w-6 sm:h-6 text-inherit" fill="currentColor" aria-hidden="true">
              <rect x="3" y="11" width="3.5" height="8" rx="0.4"></rect>
              <rect x="9" y="7" width="3.5" height="12" rx="0.4"></rect>
              <rect x="15" y="4" width="3.5" height="15" rx="0.4"></rect>
              <rect x="1" y="20" width="22" height="1.2" rx="0.2"></rect>
            </svg>
            <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">SNIEs</p>
          </button>
        </a>
      </li>
      <!-- CARGAR EXCEL -->
      <li *appHasRole="['coordinador']">
        <a routerLink="/auth/cargar-excel">
          <button routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 !text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-85" [routerLinkActiveOptions]="{ exact: true }" class="w-full flex items-center gap-4 px-4 py-3 text-xs sm:text-sm font-bold text-white rounded-lg hover:bg-white/10 active:bg-white/30 transition-all capitalize" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 sm:w-6 sm:h-6 text-inherit" fill="currentColor" aria-hidden="true">
              <path d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"/>
            </svg>
            <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">Cargar de Excel</p>
          </button>
        </a>
      </li>
      <!-- USUARIOS -->
      <li *appHasRole="['admin']">
        <a routerLink="/auth/admin/usuarios">
          <button
            routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 !text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-85"
            [routerLinkActiveOptions]="{ exact: true }"
            class="w-full flex items-center gap-4 px-4 py-3 text-xs sm:text-sm font-bold text-white rounded-lg hover:bg-white/10 active:bg-white/30 transition-all capitalize"
            type="button">
            <!-- ícono usuarios -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
                class="w-5 h-5 sm:w-6 sm:h-6 text-inherit" fill="currentColor" aria-hidden="true">
              <path d="M96 224a96 96 0 1 1 192 0A96 96 0 1 1 96 224zm288 0a112 112 0 1 1 224 0 112 112 0 1 1 -224 0zM0 482.3C0 383.8 79.8 304 178.3 304h27.4C304.2 304 384 383.8 384 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM432 480c0-45.3-13.9-87.3-37.7-121.8C432.4 333.7 473.5 320 517.7 320h26.6C611.4 320 672 380.6 672 454.3 672 485.4 646.4 512 615.3 512H461.3C444.1 512 432 499 432 480z"/>
            </svg>
            <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
              usuarios
            </p>
          </button>
        </a>
      </li>
    </ul>
  </div>
</aside>
