<div class="-mt-8">
  <div class="flex gap-4 mb-6">
    <button class="px-4 py-2 rounded-lg text-white"
            [class.bg-blue-700]="view() === 'convenio'"
            [class.bg-blue-600]="view() !== 'convenio'"
            (click)="setView('convenio')">Convenio</button>

    <button class="px-4 py-2 rounded-lg text-white"
            [class.bg-green-700]="view() === 'institucion'"
            [class.bg-green-600]="view() !== 'institucion'"
            (click)="setView('institucion')">Institución</button>
  </div>

  @if (view() === 'convenio') {
    <section class="bg-white shadow-lg rounded-xl p-6">
      <h2 class="text-xl font-semibold mb-4">Formulario de Convenio</h2>
      <app-convenio-form
        [initial]="selectedConvenio()"
        [instituciones]="institucionesOptions()"        
        [tiposMovilidad]="tiposMovilidad"
        (submitted)="onSaveConvenio($event)"
        (canceled)="clearConvenioSelection()"
      />

      <div class="mt-8">
        <h3 class="text-lg font-semibold mb-3">Listado de Convenios</h3>
        <app-convenio-table
          [convenios]="convenios"
          [instituciones]="institucionesOptions()"        
          [tiposMovilidad]="tiposMovilidad"
          (edit)="onEditConvenio($event)"
        />
      </div>
    </section>
  } @else {
    <section class="bg-white shadow-lg rounded-xl p-6">
      <h2 class="text-xl font-semibold mb-4">Formulario de Institución</h2>
      <app-institucion-form
        [initial]="selectedInstitucion()"
        [paises]="paises"
        [editingCodigo]="editingCodigoValue()"
        (submitted)="onSaveInstitucion($event)"
        (canceled)="clearInstitucionSelection()"
      />

      <div class="mt-8">
        <h3 class="text-lg font-semibold mb-3">Listado de Instituciones</h3>
       <app-institucion-table
        [instituciones]="instituciones()"           
        [paises]="paises"
        [pageIndex]="instPageIndex()"
        [pageSize]="instPageSize()"
        [total]="instTotal()"
        (pageChange)="onInstPageChange($event)"
        (edit)="onEditInstitucion($event)"
        (remove)="onRemoveInstitucion($event)"
      />
      </div>
    </section>
  }
</div>
